@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';



.smallSearch {
    height: 8rem;
    background-image: url(../../images/backgroundFlipped.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; 
    position: relative;

    @include respond(phone) {
        background-size: 150%;
        background-position: right center;
      }

   &__input {
       position: absolute;
       height: 4rem;
       width: 40rem;
       top: 2.3rem;
       left: 25rem;
       border-radius: 1rem;
       padding-left: 1.5rem;
       font-family: 'Roboto', sans-serif;
       font-size: 1.5rem;
       border-color: transparent;

       @include respond(tab-land) {
        width: 25rem;
      }

    //   Moves to the left
      @include respond(phone) {
        left: 11rem;
      }

   }

}

.created-by {
    top: 2.5rem;
    &__headline {
        display: block;
    }
}

