@import '../../sass//abstracts/variables';

.created-by {
    position: absolute;
    top: 3.5rem;
    right: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    &__headline{
        color: $color-grey;
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 800;

        &:active {
            color: $color-secondary;
        }
    }
}