.searchbar {


    &__input {
        display: block;
        width: 40%;
        height: 6rem;
        border-radius: 2rem;
        padding-left: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
        border-color: black;
    
        &:focus {
            outline:none;
            border-color: purple;
        }

        &--move {
            width: 30rem;
            height: 5rem;
            position: absolute;
            right: 10rem;
        }
    
    }

    

}
