@import "../../sass/abstracts/variables";

.image {
  position: relative;
  cursor: pointer;

  &__img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
  }

  // Hovering on .image makes links visible
  &:hover &__links {
    opacity: 1;
  }

  &:hover &__layer {
    background-image: linear-gradient(
      0deg,
      rgba($color-black, 0.2) 70%,
      rgba($color-black, 0.8) 100%
    );
  }

  &__layer {
    width: calc(100% - 1.5rem);
    height: calc(100% - 0.3rem);
    position: absolute;
  }

  &__links {
    box-sizing: border-box;
    position: absolute;
    top: 0rem;
    margin-right: 1.5rem;
    transition: all 0.5s;
    opacity: 0;
    width: calc(100% - 1.5rem);
    height: 0;
  }

  &__link {
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: pink;
  }

  &__icon {
    font-size: 2.3rem;
    margin: 2rem;
    color: $color-white-secondary;
    // Icon is on the right side of image
    position: absolute;
    right: 0;
    cursor: pointer;
    // If icon is clicked, modal will not open, because icon is on top of the image
    z-index: 9;
    // display: block;
  }
}

.image-container {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.user {
  margin: 2rem;
  // User container is not 'visible', so when user clicks on the space between the links, it  would open the modal.
  height: 0;
  width: 0;

  &__name {
    color: $color-white-secondary;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    margin: 1.5rem;
    position: relative;
    bottom: 1rem;
    left: 2.5rem;
  }

  &__img {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
  }
}
